#progress, #done, #error {
    display: none;
}

#loading {
    display: block;
    width: 200px;
    
}

#done img {
    max-width: 80vw;
    max-height: 80vh;
}

#selfieContainer {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    overflow: hidden;
}

#selfieElement
{
    height: 100%;
    width: 100%;
    object-fit: cover;

    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}